# Poetry
poetry.lock
dist/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
.eggs/

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
